<%- include("../partials/header") %>

<div class="text-center mt-4">
    <h2>Payment Successful 🎉</h2>
    <a href="/products" class="btn btn-primary mt-3">
        Continue Shopping
    </a>
</div>

<%- include("../partials/footer") %>
